{% extends 'layout.html.twig' %}

{% block title %}Oreo of the Day | Regulament{% endblock %}

{% block body %}
    {% include 'reusable_templates/header.html.twig' %}

    <main class="regulament">
        <!-- start:: Intro -->
        <div class="page-splash content">
            <div class="inner">
                <h2>REGULAMENTUL OFICIAL AL CAMPANIEI <br/> ”Oreo of the Day”</h2>
                <h3>I. SECȚIUNEA 1. ORGANIZATORUL CAMPANIEI</h3>
                <p><strong>1.1</strong> Organizatorul Campaniei <strong><i>“Oreo of the Day”</i></strong> (“Campania”) este
                    <strong>Mondelez
                        România S.A. („Organizatorul”)</strong>,
                    societate comercială înregistrată în conformitate cu legea română, cu sediul în România, București, Sector
                    2, B-dul Dimitrie Pompeiu, nr. 5-7, Hermes Business Campus, clădirea C, Secțiunea Nord, etaj 6, înregistrată
                    la Registrul Comerțului sub nr. J40/6905/2010, C.U.I. 1097530.</p>
                <p><strong>1.2</strong> Campania se desfășoară prin intermediul:</p>
                <ul class="list-style-disc">
                    <li><strong> DENTSU ROMANIA S.R.L.</strong> (“Agenția 1”), cu sediul în Str. George Enescu nr. 11-11A, etaj
                        5, camera 3,
                        Sector 1, București, înregistrată la Registrul Comerțului sub nr. J40/20774/2008, C.U.I. 2486616,
                    </li>
                    <li><strong> Mediapost Hit Mail S.A.</strong> (“Agenția 2”), cu sediul în Str. Siriului, nr. 42-46, etaj 3,
                        Sector 1,
                        București, înregistrată la Registrul Comerțului sub nr. J40/8295/2000, C.U.I. RO13351917,
                    </li>
                    <li><strong> Emblema Retail Solutions S.R.L.</strong> (”Agenția 3”), cu sediul în str. Daniel Danielopolu
                        34, et. 3, ap.
                        A3-1, Sector 1, București, înregistrată la Registrul Comerțului sub nr. J40/12573/2014, C.U.I. 33747399.
                    </li>
                </ul>
                <p>Agențiile vor fi denumite în mod colectiv <strong>”Agențiile”.</strong></p>

                <h3>II. SECȚIUNEA 2. REGULAMENTUL CAMPANIEI</h3>
                <p><strong>2.1</strong> Campania se va desfășura conform prevederilor prezentului regulament <strong>(„Regulamentul”)</strong>
                    care este
                    obligatoriu pentru toți Participanții și pentru toate entitățile implicate în derularea Campaniei.</p>

                <p><strong>2.2</strong> Campania se va desfășura în conformitate cu următoarele prevederi: Ordonanța Guvernului
                    nr. 99/2000
                    privind comercializarea produselor și serviciilor de piață, cu toate modificările și completările
                    ulterioare, Legea nr. 506/2004 privind prelucrarea datelor cu caracter personal și protecția vieții private
                    în sectorul comunicațiilor electronice și Regulamentul (UE) 2016/679 privind protecția persoanelor fizice,
                    în ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor
                    date.</p>

                <p><strong>2.3</strong> Regulamentul este întocmit și făcut public conform legislației aplicabile în România și
                    este disponibil,
                    în mod gratuit, oricărui Participant, pe website-ul <a href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a>
                    sau printr-o solicitare adresată
                    Organizatorului la sediul menționat la punctul 1.1. </p>

                <p><strong>2.4</strong> Potrivit liberei decizii a Organizatorului, Campania poate fi mediatizată în scopul
                    informării publicului, inclusiv prin intermediul unor materiale publicitare și/sau materiale cu rol
                    informativ. Informațiile pe care astfel de materiale le pot conține vor fi interpretate în conformitate cu
                    prevederile prezentului Regulament. <strong>Premiile prezentate în imaginile folosite pe materialele de
                        promovare
                        sunt cu titlu de prezentare.</strong></p>

                <p><strong>2.5</strong> Organizatorul își rezervă dreptul de a modifica și/sau de a completa Regulamentul,
                    precum și dreptul de a suspenda și/sau de a înceta/întrerupe/prelungi Campania, cu condiția înștiințării
                    prealabile a Participanților cu privire la orice modificare a vreuneia din prevederile acestuia. Orice
                    modificări/completări aduse prevederilor acestui Regulament vor fi cuprinse în acte adiționale care vor fi
                    comunicate către public prin actualizarea și publicarea Regulamentului, în formă actualizată, pe website-ul
                    <a href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a> cu cel puțin 24 ore înainte ca
                    acestea să intre în vigoare. </p>

                <h3>III. SECȚIUNEA 3. ARIA DE DESFĂȘURARE ȘI DURATA CAMPANIEI</h3>
                <p><strong>3.1</strong> Campania este organizată pe teritoriul României, online pe website-ul <a
                            href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a>, în conformitate
                    cu prevederile prezentului Regulament.</p>
                <p><strong>3.2</strong> Campania se desfășoară în perioada <strong>19 mai 2023</strong>, ora <strong> 00:00:00 -
                        29 iunie 2023</strong>, ora
                    <strong>23:59:59 (”Perioada Campaniei”)</strong>, pe parcursul a 6 săptămâni împărțite astfel:</p>
                <ul>
                    <li>- Săptămâna 1: 19.05.2023 – 25.05.2023;</li>
                    <li>- Săptămâna 2: 26.05.2023 – 01.06.2023;</li>
                    <li>- Săptămâna 3: 02.06.2023 – 08.06.2023;</li>
                    <li>- Săptămâna 4: 09.06.2023 – 15.06.2023;</li>
                    <li>- Săptămâna 5: 16.06.2023 – 22.06.2023;</li>
                    <li>- Săptămâna 6: 23.06.2023 – 29.06.2023.</li>
                </ul>
                <h3>IV. SECȚIUNEA 4. PRODUSELE PARTICIPANTE</h3>
                <p><strong>4.1</strong> La Campanie participă toate produsele din portofoliul <strong>Oreo</strong>,
                    comercializate de către Organizator, pe piața
                    din România, denumite în continuare <strong>“Produsele Participante”</strong> și prezentate în continuare:
                </p>

                <table class="products-table">
                    <tbody>
                    <tr>
                        <td><p><strong>Denumire produs</strong></p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Aniversar 154g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Bucatele 300g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Crocanti Glazurati 110g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Crocanti Original 110g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo cu crema cu aroma de capsune si aroma de prajitura cu crema de branza154g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo cu crema cu aroma de menta 154g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo cu crema de cacao 154g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo cu crema de cacao 176g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo cu Umplutura dubla 185g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Golden 154g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Original 66g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Original 154g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Original 176g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Original 264g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Original 396g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Pudra 300g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Remix cu aroma de caramel si vanilie 157g</p></td>
                    </tr>
                    <tr>
                        <td><p>Oreo Remix cu aroma de zmeura si vanilie 157g</p></td>
                    </tr>
                    </tbody>
                </table>

                <p><strong>4.2</strong> Bonul fiscal ce atestă achiziția Produselor Participante, în valoare de minimum 9 lei
                    (cu TVA inclus), pe același bon fiscal și în perioada de desfășurare a Campaniei trebuie păstrat întreg și
                    nedeteriorat. <strong><i>În cazul în care pe bonul fiscal nu apare denumirea exactă a produselor,
                            Participantul va
                            trebui să facă dovada și cu ambalajele Produselor Participante achiziționate pe bonul respectiv.</i></strong>
                </p>

                <p><strong>4.3</strong> După data încheierii Campaniei, Produsele Participante descrise mai sus își pierd
                    această calitate,
                    Organizatorul nemaiavând nicio responsabilitate și nemaiasumându-și nicio obligație în legătură cu nicio
                    circumstanță care ar putea eventual conduce publicul la concluzia actualității ori continuării
                    Campaniei.</p>

                <p><strong>4.4</strong> Produsele Participante sunt disponibile în limita stocului existent în fiecare
                    magazin în parte și <strong>nu sunt</strong> marcate cu ambalaje/etichete promoționale care să semnalizeze
                    prezenta Campanie.
                </p>

                <h3>V. SECȚIUNEA 5. DREPTUL DE ÎNSCRIERE</h3>
                <p><strong>5.1</strong> În Campanie se pot înscrie persoanele fizice, cetățeni români sau străini, cu domiciliul
                    sau reședința,
                    chiar și temporară, în România, care au împlinit vârsta de 18 ani la data înscrierii în Campanie și care
                    acceptă termenii și condițiile prezentului Regulament.</p>
                <p><strong>5.2</strong> Înscrierea în Campanie presupune acceptarea implicită, integrală și neechivocă a
                    prevederilor prezentului Regulament.</p>
                <p><strong>5.3</strong> Nu au dreptul de a participa la această Campanie următoarele categorii de persoane:
                </p>
                <ul>
                    <li>(i) Persoanele care nu respectă Secțiunea 6.1;</li>
                    <li>(ii) Angajați ai Organizatorului, precum și ai societăților afiliate Organizatorului;</li>
                    <li>(iii) Angajați ai Agențiilor sau angajați ai oricăror alte societăți/entități implicate în activități
                        legate de organizarea și desfășurarea Campaniei;
                    </li>
                    <li>(iv) Rudele de gradul I și II (respectiv copii, părinți, frați/surori) și/sau soțul/soția angajaților
                        menționați la punctele (ii) și (iii) de mai sus.
                    </li>
                </ul>

                <p><strong>5.4</strong> Organizatorul își rezervă dreptul de a lua toate măsurile pentru a preveni înscrierea
                    în Campanie, precum și dreptul de a elimina din Campanie orice persoană din categoriile menționate în art.
                    5.3. </p>
                <p><strong>5.5 <i>Prin participarea la această Campanie, Participanții sunt de acord în mod expres cu
                            prevederile
                            Regulamentului și sunt de acord ca, în cazul în care vor fi desemnați Câștigători, numele și
                            prenumele lor
                            să fie făcute publice conform punctului 9.8.</i></strong></p>

                <h3>VI. SECȚIUNEA 6. MECANISMUL CAMPANIEI</h3>
                <p><strong>6.1 Condiții privind înscrierea în Campanie</strong></p>
                <p><strong>6.1.1</strong> Pentru înscrierea validă în Campanie este necesară îndeplinirea cumulativă a
                    următoarelor condiții:</p>
                <ul>
                    <li>a) Participantul trebuie să aibă drept de înscriere potrivit prevederilor Secțiunii 5 de mai sus;</li>
                    <li>b) Participantul trebuie să achiziționeze Produse Participante de cel puțin 9 lei (cu TVA inclus), pe
                        același bon fiscal, în perioada 19.05.2023 – 29.06.2023, și să poată face dovada achiziției;
                    </li>
                    <li>c) Participantul se va înscrie la Campanie exclusiv prin transmiterea unuia sau a mai multor numere de
                        bon fiscal ce atestă achiziția Produselor Participante, prin accesarea website-ului <a
                                href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a>, cu
                        respectarea condițiilor solicitate ce sunt prevăzute la Secțiunea 6.2 de mai jos;
                    </li>
                    <li>d) Înscrierea se va face exclusiv pe Perioada Campaniei menționată la Secțiunea 3 de mai sus;</li>
                    <li>e) Participantul va folosi pentru înscriere un număr de telefon mobil valid, personal, valabil în rețele
                        de telefonie mobilă disponibile pe teritoriul României;
                    </li>
                    <li>f) Un Participant unic poate înscrie în Campanie maximum 10 numere de bon fiscal per săptămână de
                        Campanie. Orice altă înscriere efectuată după primele 10 înscrieri dintr-o săptămână de Campanie, va fi
                        luată în considerare dacă va fi efectuată într-o altă săptămână, în perioada de desfășurare a Campaniei.
                        Organizatorul nu va fi făcut responsabil pentru acele înscrieri pe care Participantul nu le poate
                        efectua ca urmare a nerespectării prezentului paragraf;
                    </li>
                    <li>g) Un Participant unic este definit de același număr de telefon;</li>
                    <li>h) Un număr de bon fiscal poate fi transmis o singură dată și numai prin modalitatea prevazută în
                        Secțiunea 6.2.1.
                    </li>
                </ul>

                <p><strong>6.2 Modalitățile de înscriere în Campanie</strong></p>
                <p><strong>6.2.1. Înscrierea în Campanie cu numărul bonului fiscal:</strong></p>
                <p><strong>(1)</strong> Pentru înscrierea valabilă în vederea participării în cadrul Campaniei este necesară
                    îndeplinirea cumulativă a următoarelor condiții:</p>
                <ul class="list-style-disc">
                    <li>Participantul trebuie să achiziționeze Produse Participante de minimum 9 lei (cu TVA inclus), pe același
                        bon fiscal, în perioada 19.05.2023 – 29.06.2023 și <strong>să păstreze bonul fiscal</strong>;
                    </li>
                    <li>Participantul trebuie să aibă drept de participare potrivit prevederilor Secțiunii 5 de mai sus;</li>
                    <li>Participantul se va înscrie în cadrul Campaniei exclusiv prin accesarea website-ului <a
                                href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a>,
                        accesarea secțiunii <strong>“ÎNSCRIE BON”</strong> și completarea următoarelor informații:
                    </li>
                    <ul>
                        <li>- Numărul de telefon;</li>
                        <li>- Numele magazinului din care a cumpărat Produsele Participante;</li>
                        <li>- Numărul bonului fiscal exact așa cum este tipărit pe documentul fizic (să corespundă numărul de
                            cifre înscris pe website cu numărul de cifre de pe documentul fizic);

                        </li>
                        <li>- Data bonului fiscal;</li>
                        <li>- Bifă “Am citit și sunt de acord cu Regulamentul campaniei promoționale”;</li>
                        <li>- Bifă “Am citit și sunt de acord cu Termenii și condițiile”;</li>
                        <li>- Bifă “Declar că am vârsta peste 18 ani”.</li>
                    </ul>
                </ul>

                <p><strong> 6.2.2. <i> Participantul trebuie să păstreze bonul fiscal în original și nedeteriorat împreuna cu
                            ambalajele
                            Produselor Participante achiziționate. Bonul fiscal trebuie să ateste achiziția Produselor
                            Participante în
                            valoare de cel puțin 9 lei (cu TVA inclus) pe același bon fiscal, în perioada 19.05.2023 –
                            29.06.2023.</i></strong></p>
                <p><strong> 6.2.2</strong> Pentru fiecare înscriere efectuată, Participantului i se va afișa unul dintre
                    mesajele de răspuns:</p>
                <p><strong>Mesajele Campaniei:</strong></p>
                <ul>
                    <li><strong> (a) Pentru fiecare înscriere efectuată înainte de 19.05.2023, ora 00:00, indiferent de câte
                            înscrieri efectuează, Participantul va primi un mesaj cu următorul conținut:</strong>
                        <p><i>Campania "Oreo of the Day" nu a început încă. Mai ai un picuț de răbdare. Ca să te înscrii
                                în campanie, trebuie să cumperi produse Oreo în valoare de minimum 9 lei, pe același bon
                                fiscal, în perioada 19.05.2023 – 29.06.2023, și să înscrii numărul bonului pe
                                <a
                                        href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a></i></p>
                    </li>
                    <li>
                        <strong> (b) Dacă un Participant a efectuat o înscriere validă în Campanie, va primi următorul
                            mesaj:</strong>
                        <p><i>Felicitări! Te-ai înscris cu succes în campania "Oreo of the Day". Îți reamintim că, pentru mai
                                multe șanse de câștig, poți înregistra până la 10 bonuri fiscale pe fiecare săptămână de
                                campanie. Și nu uita să păstrezi pentru validare bonul fiscal! Succes!</i></p>
                    </li>
                    <li>
                        <strong>(c) Dacă un Participant a efectuat o înscriere validă în Campanie și a câștigat un premiu
                            acordat prin moment norocos, va primi următorul mesaj: </strong>
                        <p><i>Felicitări! Ai câștigat un voucher Fashion Days în valoare de 300 RON ca să-ți faci cele mai
                                jucăușe #OOTD-uri. Păstrează bonul fiscal, te vom contacta în curând. Înscrie și alte bonuri
                                fiscale, pentru o șansă la premiul cel mare. Ai dreptul la cel mult zece înscrieri în fiecare
                                săptămână de campanie.</i></p>
                    </li>
                    <li>
                        <strong>(d) Dacă un Participant încearcă să introducă cel de-al 11-lea număr de bon fiscal într-o
                            săptămână de Campanie, acesta va primi un mesaj cu următorul text:</strong>
                        <p><i>Ne bucurăm că-ți place atât de mult Oreo, dar se pare că ai atins limita de zece înscrieri într-o
                                săptămână de campanie. Mulțumim pentru participare și te așteptăm pentru noi înscrieri săptămâna
                                viitoare.</i></p>
                    </li>
                    <li>
                        <strong>(d.1) Dacă un Participant încearcă să introducă cel de-al 11-lea număr de bon fiscal în ultima
                            săptămână de Campanie, acesta va primi un mesaj cu următorul text:</strong>
                        <p><i>Campania "Oreo of the Day” se încheie săptămâna aceasta și se pare că ai atins limita de
                                înscrieri. Mulțumim pentru participare. Verifică rezultatul tragerii la sorți și vezi dacă ai
                                câștigat sesiunea de shopping în valoare de 7.000 de lei cu un stilist profesionist!</i></p>
                    </li>
                    <li>
                        <strong>(e) Dacă același număr de bon fiscal este trimis de mai multe ori:</strong>
                        <p><i>Acest număr de bon fiscal a mai fost înscris în campanie. Pentru a putea participa, te rugăm să
                                introduci alt bon fiscal.</i></p>
                    </li>
                    <li>
                        <strong>(f) Dacă un Participant se înscrie după terminarea Campaniei, acesta va primi următorul
                            mesaj: </strong>
                        <p><i>Uf, ai întârziat cu puțin. Campania "Oreo of the Day" s-a încheiat pe data de 29.06.2023. Oreo îți
                                mulțumește și te așteaptă la următoarele campanii promoționale.</i></p>
                    </li>
                </ul>

                <h3>VII. SECȚIUNEA 7. PREMIILE CAMPANIEI</h3>
                <p><strong>7.1</strong> În cadrul Campaniei vor fi acordate următoarele categorii de premii:</p>
                <p><strong>7.1.1. Premii acordate prin momente norocoase:</strong></p>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th><p><strong>Nr. crt.</strong></p></th>
                            <th><p><strong>Descriere Premiu</strong></p></th>
                            <th><p><strong>Cantitate</strong></p></th>
                            <th><p><strong>Valoare unitara LEI, cu TVA</strong></p></th>
                            <th><p><strong>Valoare totala LEI, cu TVA</strong></p></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><p>1.</p></td>
                            <td><p>Voucher Fashion Days</p></td>
                            <td><p>250</p></td>
                            <td><p>300</p></td>
                            <td><p>75.000</p></td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"><p><strong>TOTAL VALOARE</strong></p></td>
                            <td colspan="2"><p><strong>75.000 LEI</strong></p></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <p><strong>7.1.2. Premiile mari acordate prin trageri la sorți la finalul Campaniei:</strong></p>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th><p><strong>Nr. crt.</strong></p></th>
                            <th><p><strong>Descriere Premiu</strong></p></th>
                            <th><p><strong>Cantitate</strong></p></th>
                            <th><p><strong>Valoare unitara LEI, cu TVA</strong></p></th>
                            <th><p><strong>Valoare totala LEI, cu TVA</strong></p></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><p>1.</p></td>
                            <td><p>Sesiune de Shopping</p></td>
                            <td><p>5</p></td>
                            <td><p>7.000</p></td>
                            <td><p>35.000</p></td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"><p><strong>TOTAL VALOARE PREMIUL MARE</strong></p></td>
                            <td colspan="2"><p><strong>35.000 LEI</strong></p></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <p>Valoarea totală a premiilor este de <strong>110.000</strong> LEI, cu TVA inclus.</p>
                <p><strong>7.2</strong> Specificațiile premiilor:</p>
                <ul>
                    <li>
                        <strong>a. Voucher electronic Fashion Days: </strong>
                        <p><strong><i>Voucher electronic Fashion Days în valoare de 300 RON</i></strong> pentru achiziția
                            obiectelor vestimentare alese
                            de pe site-ul: <i><a
                                        href="https://www.fashiondays.ro/" target="_blank">https://www.fashiondays.ro/</a></i>.
                            Voucherul se poate folosi imediat după primire, scăzând
                            valoarea voucherului din valoarea comenzii, având o valabilitate de 12 luni de la data emiterii
                            acestuia. Voucherul poate fi utilizat o singură dată pentru achiziția de obiecte vestimentare,
                            respectiv pentru o singură tranzacție, în limita valorii impuse pe acesta. În cazul depășirii
                            valorii de 300 RON a voucherului, suma de achitat poate fi completată cu un alt mijloc de plată.
                            Pentru înlăturarea oricărui dubiu, voucherul nu poate fi folosit în mai multe tranzacții
                            reprezentând achiziții de produse vestimentare în aceeași zi/ în mai multe zile calendaristice.</p>
                    </li>
                    <li>
                        <p>
                            <strong>b. Sesiune de Shopping: sesiune virtuală </strong> (pe site-ul <i><a
                                        href="https://www.fashiondays.ro/" target="_blank">https://www.fashiondays.ro/</a></i>)
                            <strong>sau fizică</strong> (în
                            magazinele din centrul comercial Băneasa Shopping City) <strong>cu stilista Lucy Faur pentru
                                achiziția
                                articolelor vestimentare</strong>.<i> Sold-ul de 7.000 Lei poate fi folosit pe durata unei
                                singure sesiuni de
                                shopping în magazine/unei singure sesiuni de shopping online în prezența unui reprezentant al
                                Agenției 3 care va gestiona și superviza achiziția obiectelor vestimentare, indiferent de tipul
                                sesiunii (virtuală sau fizică)</i>.
                        </p>
                        <p><strong><i>b.1 Detaliile premiului Sesiune de shopping - sesiune virtuală:</i></strong></p>
                        <ul>
                            <li>
                                <i>- Consiliere virtuală cu stilista Lucy Faur- durată variabilă între 1(unu) și 5 (cinci) ore,
                                    în vederea alegerii unor ținute preferate în varianta Oreo of the Day.</i>
                            </li>
                            <li>
                                <i>- Consilierea virtuală se va realiza prin prin intermediul platformelor de comunicare
                                    agreate: Zoom, Teams, Google Meet.</i>
                            </li>
                            <li>
                                <i>- Voucher electronic Fashion Days în valoare de 7.000 Lei pentru achiziția obiectelor
                                    vestimentare alese de pe site-ul <a
                                            href="https://www.fashiondays.ro/" target="_blank">https://www.fashiondays.ro/</a>.
                                    Voucherul se va folosi doar în
                                    cadrul sesiunii de shopping virtuală, după alegerea tuturor obiectelor vestimentare alese,
                                    pentru o singură tranzație finală (achiziție). Nu se pot face cu acesta mai multe tranzacții
                                    reprezentând achiziții de articole vestimentare în aceeași zi/în zile calendaristice
                                    diferite. Voucherul are o valabilitate de 12 luni de la data emiterii și se poate folosi
                                    scăzând valoarea voucherului din valoarea finală a comenzii.</i>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p><strong><i>b.2 Detalii premiului Sesiune de shopping - sesiune în magazin:</i></strong></p>
                <ul>
                    <li>
                        <i>- Consiliere fizică, în magazin, cu stilista Lucy Faur în centrul comercial - durată variabilă între
                            1(unu) și 5 (cinci) ore, în vederea alegerii unor ținute preferate în varianta Oreo of the Day.
                        </i>
                    </li>
                    <li>
                        <i>- Sold în valoare de 7.000 Lei pentru achiziția articolelor vestimentare din centrul comercial
                            Băneasa Shopping City. Sold-ul poate fi folosit pe durata unei singure zile (conform duratei
                            variabile menționate mai sus), prin achiziția articolelor vestimentare din diverse magazine aflate
                            în centrul comercial Băneasa Shopping City.
                        </i>
                    </li>
                </ul>

                <p><strong>7.3</strong> Câștigătorii unui Voucher Fashion Days, prin achiziționarea produselor furnizate de
                    către Fashion Days, se vor supune termenilor și condițiilor Fashion Days.</p>
                <p><strong>7.4</strong> Câștigătorii premiilor oferite în cadrul Campaniei nu au posibilitatea de a primi
                    contravaloarea premiilor în bani sau înlocuirea acestora cu alte bunuri și nici nu pot solicită schimbarea
                    caracteristicilor/ parametrilor premiilor câștigate.</p>
                <p><strong>7.5 <i>În cadrul prezentei Campanii, un Participant poate câștiga maximum 1 (unu) premiu din fiecare
                            categorie pe toată durata Campaniei. Cu un bon fiscal/factura un Participant nu poate castiga mai
                            mult
                            de 1 (unu) premiu acordat în cadrul Campaniei. Bonurile fiscale declarate câștigătoare pe momente
                            norocoase nu participă la extragerea de la finalul Campaniei. </i></strong></p>

                <h3>VIII. SECȚIUNEA 8. DESEMNAREA CÂȘTIGĂTORILOR ȘI ACORDAREA PREMIILOR</h3>
                <p>Premiile Campaniei vor fi acordate după cum urmează:</p>
                <p>8.1 <strong>Premii acordate prin momente norocoase:</strong></p>
                <ul>
                    <li>a. Pentru fiecare premiu se va desemna anterior începerii Campaniei, în mod aleator, câte un moment
                        câștigător (definit sub forma: zi, oră, minut) și, respectiv, câte un număr de ordine asociat fiecărui
                        moment câștigător (un număr întreg între 1 și 5). Momentele câștigătoare vor fi extrase din intervalul
                        corespunzător perioadei Campaniei. În total vor fi extrase 250 de momente norocoase pentru premiile
                        constând în Voucher Fashion Days.
                    </li>
                    <li>b. Momentele câștigătoare, respectiv numerele de ordine aferente acestora, vor fi consemnate într-un
                        document scris și autentificat de către un notar public, anterior începerii Campaniei.
                    </li>
                    <li>c. Va fi desemnat câștigător Participantul care efectuează o înscriere validă după un moment câștigător
                        și al cărui număr de ordine este același cu numărul de ordine corespunzător momentului câștigător
                        respectiv (exemplu: să presupunem că pentru ziua Z momentul câștigător este ora hh:mm, iar numărul de
                        ordine are valoarea 3. Va câștiga Participantul care a introdus al 3-lea număr de bon fiscal valid după
                        momentul hh:mm). Următoarele 5 înscrieri valide și care îndeplinesc condițiile prezentului Regulament,
                        vor fi considerate ca fiind rezerve.
                    </li>
                    <li>d. Dacă între două momente câștigătoare nu s-a efectuat nici o înscriere validă și astfel nu s-a putut
                        desemna nici un câștigător pentru primul moment, numărul de ordine aferent celui de-al doilea moment
                        câștigător va fi aplicat doar după desemnarea câștigătorului pentru momentul câștigător anterior
                        (exemplu: dacă primul moment câștigător este ora 10:00:00 cu număr de ordine 3 și următorul moment este
                        12:07:00 cu număr de ordine 2, iar între cele 2 momente nu au fost efectuate înscrieri valide, a treia
                        înscriere validă efectuată după 12:07:00 (care reprezintă și a treia înscriere după ora 10:00:00) va fi
                        desemnată câștigătoare pentru ora 10:00, a doua înscriere validă după desemnarea câștigătorului primului
                        moment va fi desemnată câștigătoare pentru ora 12:07:00). Următoarele înscrieri valide ce îndeplinesc
                        condițiile prezentului Regulament vor fi considerate ca fiind rezerve în ordinea cronologică a
                        înscrierilor. Pentru fiecare câștigător vor fi alocate un număr maxim de 5 rezerve aferente.
                    </li>
                </ul>
                <p>8.2<strong> Premiile mari acordate prin tragere la sorți după cum urmează:</strong></p>
                <ul>
                    <li>
                        <p>
                            a. În perioada 30.06.2023 – 07.07.2023 va avea loc tragerea la sorți din toate înscrierile valide
                            efectuate pe toată durata de desfășurare a Campaniei, respectiv din perioada 19.05.2023 –
                            29.06.2023, cu excepția celor pentru care Participanții au câștigat un premiu instant, acordat prin
                            momente norocoase conform prevederilor prezentului Regulament. În cadrul tragerii la sorți se vor
                            extrage câștigătorii după cum urmează:
                        </p>
                        <ul>
                            <li>i. 5 câștigători aferenți premiului constând în <strong>„Sesiune de Shopping”</strong>;</li>
                            <li>ii. Câte 5 rezerve pentru fiecare câștigător în parte.</li>
                        </ul>
                    </li>
                </ul>
                <p>8.3 Tragerea la sorți pentru premiile din cadrul Campaniei presupun folosirea unui program de calculator cu
                    distribuire și extragere aleatorie, care va selecta câștigătorii și rezervele dintr-o bază de date ce
                    conține toate înscrierile valide în Campanie conform celor descrise mai sus. Extragerea se va efectua în
                    prezența unei comisii, denumită în continuare "Comisia", din care va face parte și un notar public, fie la
                    sediul Agenției 2 din Str. Siriului, nr 42-46, etaj 3, Sector 1, București, fie la sediul biroului notarului
                    public Nica Oana Raluca din București, sector 2, str. Avram Iancu nr. 7A ori sediul notarului public Nica
                    Oana Raluca comunicat pe site-ul Camerei Notarilor Publici București în Lista notarilor în funcție.
                    Extragerea se va realiza prin intermediul unui software care va desemna în mod aleator câștigătorii și
                    rezervele. </p>
                <p>8.4<strong> Premiile Campaniei vor fi acordate Câștigătorilor în urma procesului de validare descris în
                        Secțiunea 9 a prezentului Regulament.</strong></p>

                <h3>IX. SECȚIUNEA 9. VALIDAREA ȘI PUBLICAREA CÂȘTIGĂTORILOR. INTRAREA ÎN POSESIE A PREMIILOR</h3>
                <p><strong>9.1</strong> Ulterior desemnării Câștigătorilor, Agenția 2 va începe procesul de validare a acestora,
                    ocazie
                    cu care se va verifica îndeplinirea condițiilor privind înscrierea Participanților, precum și
                    respectarea tuturor dispozițiilor prezentului Regulament.</p>
                <p><strong>9.2</strong> Participanții care au fost desemnați Câștigători vor fi contactați prin apel telefonic
                    la
                    numărul de telefon mobil utilizat pentru înscrierea în Campanie, în intervalul orar 09:00 - 20:00, de 3
                    ori în maximum 3 zile lucrătoare de la data desemnării Câștigătorilor; numărul de telefon utilizat
                    servește pentru identificarea Participanților și contactarea acestora. În cazul în care Participantul nu
                    poate fi contactat, după cele 3 zile lucrătoare se va trece la contactarea rezervelor.</p>
                <p><strong>9.3</strong> Pentru a parcurge procesul de validare, Participantul va furniza Organizatorului în
                    momentul
                    contactării telefonice, informațiile necesare identificării și validării lui. Convorbirile telefonice
                    vor fi înregistrate pentru a putea fi utilizate ca mijloace de probă în eventualele contestații în
                    legătură cu procesul de validare a Câștigătorilor și de înmânare a premiilor oferite în Campania
                    promoțională, precum și pentru scopul verificării modului în care este gestionată relația cu
                    Participanții la Campanie.</p>
                <ul>
                    <li>
                        <ul>
                            <li>
                                <p><strong>9.3.1</strong> În cadrul apelului, Participantului i se va solicita să declare următoarele
                                    informații: <strong>nume, prenume, data nașterii, adresa de email pentru transmiterea premiile
                                        constând
                                        în Voucher Fashion Days în valoare de 300 Lei.</strong></p>
                            </li>
                            <li>
                                <p><strong>9.3.2</strong> Câștigătorii trebuie să trimită următoarele documente: copie/poză bon
                                    fiscal în termen de 3 zile de la data la care a avut loc convorbirea telefonică. Câștigătorii
                                    premiilor acordate prin tragere la sorți la finalul Campaniei vor trimite si o copie/poză, blurată
                                    (să se vadă numele complet și codul numeric personal), a actului de identitate. </p>
                            </li>
                            <li>
                                <p>În poza bonului fiscal trebuie sa fie vizibile următoarele informații de pe bonul fiscal:</p>
                                <ul>
                                    <li><i>- Numărul bonului fiscal, exact așa cum l-a înscris în Campanie;</i></li>
                                    <li><i>- Data bonului fiscal;</i></li>
                                    <li><i>- Produsele participante ce însumeaza valoarea minimă de 9 lei (cu TVA inclus);</i></li>
                                    <li><i>- Magazinul de unde au fost achiziționate produsele.</i></li>
                                </ul>
                            </li>
                            <li>
                                <p><strong>9.3.3</strong> Trimiterea documentelor necesare validării se realizează prin încărcarea
                                    acestora într-o pagina web, accesând link-ul securizat comunicat de Organizator. Participantul are
                                    la dispoziție următoarele două modalități de recepționare a link-ului securizat: SMS sau e-mail.
                                    Link-ul se va genera după finalizarea apelului, iar Participantul îl va recepționa prin modalitatea
                                    aleasă în cadrul convorbirii. Accesând acel link, Participantul va trebui să încarce documentele
                                    solicitate în cadrul apelului telefonic, în termenul specificat. </p>
                            </li>
                            <li>
                                <p><strong>9.3.4</strong> Dacă Participantul nu încarcă documentele solicitate în termen de 3 zile
                                    de primirea link-ului, acesta va fi invalidat și se vor contacta rezervele, în ordinea desemnării
                                    acestora. </p>
                            </li>
                            <li>
                                <p><strong>9.3.5</strong> În urma verificărilor și a parcurgerii procesului de validare,
                                    Participantul va primi o confirmare a primirii documentelor și, în cazul în care documentul/ele
                                    primit/e prezintă neregularități, Participantul va fi anunțat și rugat să reîncarce documentul/ele
                                    folosind link-ul retrimis. Dacă Participantul nu reîncarcă documentele solicitate, din care să
                                    reiasă informațiile înscrise de către acesta, în termen de 3 zile de la comunicare, acesta va fi
                                    invalidat și se vor contacta rezervele, în ordinea desemnării acestora. Un Participant va avea șansa
                                    de a face dovada cu documentele solicitate de maxim 3 ori. Dacă nici după a treia încercare
                                    Participantul nu încarcă dovada clară și lizibilă din care să reiasă informațiile înscrise, acesta
                                    va fi invalidat și se vor contacta rezervele, în ordinea desemnării acestora. </p>
                            </li>
                            <li>
                                <p><strong>9.3.6</strong> În cazul în care un Participant nu dorește înregistrarea convorbirii sau
                                    nu furnizează toate informațiile necesare procesului de validare, după încheierea apelului acesta va
                                    primi un SMS cu un link către o pagină web unde poate completa datele sale de contact necesare
                                    pentru procesul de validare și înmânare a premiilor, în termen de 3 zile. Dacă datele încărcate de
                                    Participant în pagina web sunt corecte conform Regulamentului, acesta va primi un link securizat
                                    pentru încărcarea documentelor necesare validării. Accesând acel link, Participantul va trebui să
                                    încarce documentele de la pct. 9.3.2. în maximum 3 zile de la transmiterea link-ului. Dacă datele
                                    încărcate de Participant în pagina web nu sunt corecte sau dacă Participantul nu completează
                                    formularul cu datele sale de contact în termen de 3 zile de la primirea linkului, Participantul va
                                    fi invalidat și se vor contacta rezervele, în ordinea desemnării acestora. </p>
                            </li>
                            <li>
                                <p><strong>9.3.7</strong> Participantul va primi un sms de confirmare a primirii documentelor și,
                                    în cazul în care acestea nu sunt corecte, Participantul va fi anunțat să reîncarce documentele
                                    folosind link-ul retrimis. Dacă Participantul nu reîncarcă documentele solicitate, din care să
                                    reiasă informațiile înscrise de către acesta, în termen de 3 zile de la comunicare, acesta va fi
                                    invalidat și se vor contacta rezervele, în ordinea desemnării acestora. Un Participant va avea șansa
                                    de a face dovadă cu documentele solitate de maxim 2 ori. Dacă nici după a doua încercare, acesta nu
                                    încarcă dovadă clară și lizibilă din care să reiasă informațiile înscrise, acesta va fi invalidat și
                                    se vor contacta rezervele, în ordinea desemnării acestora.</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <p><strong>9.4</strong> După finalizarea procesului de validare, Participantul va fi informat de statusul
                    validării (valid/ invalid) în termen de maxim 30 de zile. Câștigătorii vor fi validați doar dacă respectă
                    toate prevederile prezentului Regulament. Procesul de validare poate dura până la 30 zile lucrătoare în
                    cazul în care Organizatorul decide ca verificarea bonurilor fiscale să fie efectuată împreună cu
                    magazinul/magazinele emitente.</p>
                <p><strong>9.5</strong> Imposibilitatea Participantului de a face dovada deținerii documentelor în original,
                    constatarea unor neconcordanțe sau nerespectarea condițiilor de validare descrise în prezentul Regulament
                    conduce la invalidarea Participantului, respectiv la pierderea dreptului de atribuire a premiului, fără
                    nicio despăgubire din partea Organizatorului. Organizatorul își rezervă dreptul de a solicita oricărui
                    Participant să facă dovadă participării prin prezentarea bonurilor fiscale ale căror numere au fost înscrise
                    în Campanie. </p>

                <p><strong>9.6</strong> Dacă un premiu nu se acordă ca urmare a neîndeplinirii de către Participant a uneia
                    sau a mai multor condiții de validare, Organizatorul va desemna drept Câștigător, sub rezerva îndeplinirii
                    tuturor condițiilor prevăzute de prezentul Regulament, prima rezervă în ordinea desemnării acestora. Dacă
                    nici aceasta nu îndeplinește condițiile necesare, se vor avea în vedere, celelalte rezerve, în ordinea
                    desemnării acestora și se va relua procesul de notificare și validare descris anterior. Dacă nici rezervele
                    nu sunt validate, premiul nu se acordă și va rămâne în proprietatea Organizatorului. Condițiile de validare
                    a rezervelor sunt aceleași ca și în cazul Participanților desemnați inițial. </p>
                <p><strong>9.7</strong> Organizatorul își rezervă dreptul de a nu acorda premiile dacă Participanții
                    desemnați Câștigători nu îndeplinesc condițiile de validare sau în cazul în care nu sunt suficiente
                    înscrieri în Campanie.</p>
                <p><strong>9.8</strong> Anunțarea câștigătorilor se va realiza prin publicarea numelui și prenumelui acestora
                    pe <a href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a> într-o secțiune special dedicată
                    acestei Campanii în termen de 30 de zile de la data
                    validării tuturor câștigătorilor. </p>
                <p><strong>9.9</strong> Premiile constând în Voucher Fashion Days acordate în cadrul Campaniei vor fi
                    expediate câștigătorilor la adresele indicate de către aceștia în procesul de validare, prin email, ulterior
                    încheierii procesului de validare a câștigătorilor, dar nu mai târziu de 30 de zile lucrătoare de la data
                    publicării câștigătorilor pe <a href="https://www.oreopromo.ro" target="_blank">www.oreopromo.ro</a>. </p>
                <p><strong>9.10</strong> Câștigătorii premiilor mari (Sesiune de Shopping în valoare de 7.000 RON cu un
                    stilist profesionist) au posibilitatea de a intra în posesia premiilor virtual sau în magazin, după cum
                    urmează:</p>
                <ul>
                    <li>
                        <ul>
                            <li>- Sesiune virtuală cu stilista Lucy Faur - durată variabila între 1(unu) și 5 (cinci) ore - prin
                                intermediul platformelor de comunicare agreate: Zoom, Teams, Google Meet.
                            </li>
                            <li>- Sesiune în magazin cu stilista Lucy Faur - durată variabilă între 1(unu) și 5 (cinci) ore - în centrul
                                comercial Baneasa Shopping City.
                            </li>
                            <li><strong>9.10.1</strong> În cazul în care câștigătorii desemnați nu au domiciliul/ reședinta stabilă în
                                București, dar vor
                                să beneficieze de experiență în magazin a Sesiunii de Shopping, costurile de transport/ acomodare nu
                                intră sub obligația Organizatorului.
                            </li>
                            <li><strong>9.10.2</strong> În cazul în care câștigătorul nu se prezintă la Sesiunea de Shopping în
                                ziua și la ora stabilită, indiferent de motivul invocat, sesiunea nu va mai fi reluată, considerându-se
                                că acesta a renunțat la premiu, fiind aplicabile prevederile Secțiunii 11: <i>”imposibilitatea
                                    câștigătorilor de a intra în posesia premiilor din motive independente de Organizator”.</i>
                            </li>
                        </ul>
                    </li>

                </ul>

                <h3>X. SECȚIUNEA 10. TAXE ȘI IMPOZITE</h3>
                <p><strong>10.1</strong> Organizatorul se obligă să calculeze, să rețină, să declare și să vireze impozitul
                    datorat pentru
                    veniturile aferente premiilor acordate câștigătorilor din cadrul Campaniei în conformitate cu prevederile
                    Legii nr. 227/2015 privind Codul Fiscal, cu modificările și completările ulterioare, orice alte obligații de
                    orice altă natură, în legătură cu premiile câștigate, fiind în sarcina exclusivă a Câștigătorilor.</p>

                <p><strong>10.2</strong> Participanților la Campanie nu le sunt impuse nici un fel de cheltuieli directe
                    sau indirecte suplimentare, cu excepția cheltuielilor normale de desfășurare a Campaniei (achiziția
                    Produselor Participante în vederea participarii la Campanie, contravaloarea SMS-urilor trimise,
                    contravaloarea accesului la Internet pentru completarea formularului de înscriere în Campanie etc.).</p>

                <h3>XI. SECȚIUNEA 11. LIMITAREA RĂSPUNDERII</h3>
                <p><strong>11.1</strong> Organizatorul este îndreptățit să ia toate măsurile necesare în caz de tentativă de
                    fraudă a sistemului,
                    abuz sau orice alte tentative care ar putea afecta imaginea acestei Campanii, precum și a Organizatorului.
                    Orice încercare de fraudare conduce la eliminarea Participantului în cauză din Campanie și cu sesizarea
                    organelor de cercetare penală, Organizatorul urmând să informeze respectivul participant cu privire la
                    această decizie.</p>
                <p><strong>11.2</strong> În eventualitatea unei dispute asupra validității unei înscrieri în cadrul acestei
                    Campanii, decizia Organizatorului este definitivă.</p>

                <p><strong>11.3</strong> Organizatorul nu își asumă responsabilitatea, incluzând, dar fără a se limita, pentru:
                </p>
                <ul>
                    <li>
                        <ul>
                            <li>&#10003; Pierderea bonului fiscal;</li>
                            <li>&#10003; Bonuri fiscale deteriorate, incomplete sau necorespunzătoare din punct de vedere al conținutului;</li>
                            <li>&#10003; Lipsa Produselor Participante din magazine;</li>
                            <li>&#10003; Înscrierile online care nu conțin toate câmpurile obligatorii;</li>
                            <li>&#10003; Eventualele dispute legate de dreptul de proprietate asupra bonurilor fiscale sau conținutului
                                acestora;
                            </li>
                            <li>&#10003; Eventualele dispute legate de numărul de telefon înscris în Campanie;</li>
                            <li>&#10003; Erorile în datele furnizate de către Participant. Acuratețea datelor de contact nu atrage răspunderea
                                Organizatorului, fiind în responsabilitatea exclusivă a Participanților. Ca atare, Organizatorul nu are
                                nici un fel de obligație în cazul furnizării de catre Participanți a unor date eronate, incomplete sau
                                incorecte care au dus la imposibilitatea identificării Câștigătorului sau
                                înmânării premiului;
                            </li>
                            <li>&#10003; Imposibilitatea Câștigătorilor de a intra în posesia premiilor din motive independente de
                                Organizator;
                            </li>
                            <li>&#10003; Cazurile în care Castigătorul nu respectă condițiile de validare detaliate în prezentul Regulament;
                            </li>
                            <li>&#10003; Situațiile în care numărul de telefon de pe care este realizată înscrierea nu poate fi identificat sau
                                apelat (număr incorect, numărul nu este alocat, este dezactivat, este blocat, nu se află în aria de
                                acoperire etc.) și, ca atare, Organizatorul nu poate contacta Participantul la Campanie;
                            </li>
                            <li>&#10003; Întreruperile/disfunctionalitățile neanunțate ale operatorilor telefonici, din cauza aglomerării
                                rețelelor pe perioadele de trafic intens;
                            </li>
                            <li>&#10003; Situațiile în care consumatorii achiziționează în perioada Campaniei oricare dintre produsele
                                Organizatorului neparticipante la Campanie;
                            </li>
                            <li>&#10003; Organizatorul nu va fi răspunzător pentru niciunul dintre prejudiciile ce ar putea fi suferite de
                                către Câștigător în legătură cu premiile câștigate, indiferent de natura acestor prejudicii cu excepția
                                situațiilor expres prevăzute de lege și care ar institui o astfel de răspundere;
                            </li>
                            <li>
                                &#10003; Organizatorul nu va fi responsabil pentru întârzierile în livrarea/înmanarea premiilor cauzate de
                                întarzieri în prestarea serviciilor de către furnizorii acestuia (de ex. furnizorii de servicii de
                                curierat).
                            </li>
                        </ul>
                    </li>


                </ul>
                <p><strong>11.4</strong> Organizatorul nu răspunde în niciun fel pentru daunele directe sau indirecte care
                    rezultă din înscrierea
                    la Campanie, cu excepția cazului în care acestea se datorează unor acte de neglijență gravă sau unor acte
                    intenționate de care este responsabil Organizatorul.</p>

                <h3>XII. SECȚIUNEA 12. PRELUCRAREA DATELOR CU CARACTER PERSONAL</h3>
                <p><strong>12.1</strong> Informații cu privire la prelucrarea datelor cu caracter personal se vor regăsi în
                    Anexa 1 a prezentului Regulament.</p>

                <h3>XIII. SECȚIUNEA 13. ÎNCETAREA/ ÎNTRERUPEREA CAMPANIEI. FORȚĂ MAJORĂ</h3>
                <p><strong>13.1</strong> Campania poate înceta înainte de împlinirea perioadei prevăzute în cazul
                    producerii unui eveniment ce constituie forță majoră, inclusiv în cazul imposibilității Organizatorului, din
                    motive independente de voința sa, de a asigura desfășurarea în bune condiții a Campaniei.</p>

                <p><strong>13.2</strong> Forța majoră exonerează de orice răspundere pe Organizator, acesta neputând a fi
                    ținut răspunzător pentru eventualele prejudicii fizice, materiale și/sau morale create Participanților,
                    Câștigătorilor sau a oricăror alte persoane terțe sau participante în organizarea Campaniei, urmare a
                    intervenției cazului de forță majoră.</p>

                <p><strong>13.3</strong> În înțelesul prezentului Regulament, forța majoră înseamnă orice eveniment extern
                    care nu poate fi prevăzut, evitat, controlat sau remediat de către Organizator, și care are drept consecință
                    imposibilitatea Organizatorului de a-și îndeplini obligațiile asumate prin Regulament.</p>

                <p><strong>13.4</strong> Dacă va invoca forța majoră, Organizatorul va comunica acest aspect
                    Participanților în termen de 5 zile lucrătoare de la apariția cazului de forță majoră, prin mijloace de
                    comunicare disponibile.</p>

                <p><strong>13.5</strong> Campania mai poate înceta înainte de împlinirea perioadei stabilite ori poate fi
                    suspendată oricând în baza liberei decizii a Organizatorului, cu condiția ca acesta să comunice în prealabil
                    o astfel de situație și cu respectarea prevederilor Regulamentului. </p>

                <h3>XIV. SECȚIUNEA 14. CONTESTAȚII/SESIZĂRI ȘI LITIGII</h3>
                <p><strong>14.1</strong> Participanții pot depune contestații/sesizări în legătură cu desfășurarea Campaniei la
                    numărul de
                    telefon <a href="tel:0212330405">021 233 04 05</a>, prin email la adresa <a href="mailto:consumator@mdlz.com">consumator@mdlz.com</a> sau
                    prin poștă la adresa Organizatorului din
                    B-dul. Dimitrie Pompeiu, nr. 5-7, Hermes Business Campus, Clădirea C, Secțiunea Nord, etaj 6, București,
                    Sector 2, până la data de 29.07.2023, inclusiv. După această dată, nicio contestație/sesizare nu va mai fi
                    luată în considerare de către Organizator. Contestațiile vor fi soluționate în termen de 15 zile lucrătoare
                    de la data depunerii acestora și un răspuns scris va fi comunicat Participantului la adresa de e-mail
                    indicată sau la adresa poștală comunicată de către acesta.</p>

                <p><strong>14.2</strong> Eventualele sesizări sau reclamații vor cuprinde în mod obligatoriu:</p>
                <ul>
                    <li>
                        <ul>
                            <li>(i) nume și prenume, domiciliul/reședința sau număr de telefon/adresa de e-mail, precum și alte date
                                necesare pentru identificarea contestatorului,
                            </li>
                            <li>(ii) prezentarea motivelor de fapt pe care se întemeiază sesizarea/reclamația.</li>
                        </ul>
                    </li>

                </ul>

                <p><strong>14.3</strong> Organizatorul și Agențiile nu au nicio obligație de a întreține corespondența cu
                    expeditorii unor sesizări/reclamații care sunt în mod vădit nefondate sau excesive, inclusiv din cauza
                    caracterului repetitiv.</p>
                <p><strong>14.4</strong> Eventualele litigii apărute între Organizator și Participanți, cu privire la orice
                    aspect legat de desfășurarea Campaniei, se vor soluționa pe cale amiabilă, iar în cazul în care aceasta nu
                    va fi posibilă, litigiile vor fi soluționate de instanțele judecătorești române competente de la sediul
                    Organizatorului.</p>
                </br>
                </br>
                <h2>ANEXA nr. 1 la Regulamentul Oficial al Campaniei “Oreo of the Day”</br>
                    (“Campania”)</br>
                    - Informații cu privire la prelucrarea datelor cu caracter personal -
                </h2>
                </br>
                <p>Prezenta Anexă aduce la cunoștința publicului modul în care <strong>MONDELEZ ROMANIA S.A.</strong> și
                    împuterniciții săi
                    prelucrează datele cu caracter personal ale persoanelor vizate (participanți și câștigători), în
                    conformitate cu legislația aplicabilă. </p>
                <p>MONDELEZ ROMANIA S.A. și societățile implicate în organizarea Campaniei se obligă să respecte:</p>
                <ul class="list-style-disc">
                    <li>Regulamentul (UE) 2016/679 al Parlamentului European și al Consiliului din 27 aprilie 2016 privind
                        protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu caracter personal și privind
                        libera circulație a acestor date și de abrogare a Directivei 95/46/CE (Regulamentul general privind
                        protecția datelor, în continuare ”GDPR”), aplicabil începând cu 25 mai 2018,
                    </li>
                    <li>Legea 190/2018 privind măsuri de punere în aplicare a Regulamentului general privind protecția
                        datelor,
                    </li>
                    <li>Deciziile Autorității Naționale de Supraveghere a Prelucrării Datelor cu Caracter Personal (ANSPDCP).
                    </li>
                </ul>
                <p>Participanții la Campanie au, potrivit dispozițiilor legale menționate mai sus, calitatea de persoane
                    vizate.</p>
                <p><strong>Prin comunicarea datelor cu caracter personal, în modalitățile indicate în Regulament, participanții
                        și câștigătorii premiilor Campaniei își exprimă acordul expres și neechivoc, ca datele lor cu caracter
                        personal să intre în baza de date a Organizatorului și societăților implicate în vederea validării,
                        anunțării câștigătorilor, atribuirii premiilor și îndeplinirii obligațiilor financiar-contabile și
                        fiscale.</strong></p>
                <p><strong>Participanții înțeleg că prelucrarea datelor lor cu caracter personal, în condițiile și în scopul
                        declarat prin Regulament și Anexa nr. 1 la Regulamentul Campaniei, este necesară derulării
                        Campaniei.</strong></p>

                <p><strong>1. Date privind operatorul datelor cu caracter personal </strong></p>
                <p>În vederea desfășurării Campaniei, datele cu caracter personal ale participanților vor fi prelucrate de
                    catre:</p>
                <p>Mondelez România S.A. („Organizatorul”), societate comercială înregistrată în conformitate cu legea română,
                    cu sediul în România, București, Sector 2, B-dul Dimitrie Pompeiu, nr. 5-7, Hermes Business Campus, clădirea
                    C, Secțiunea Nord, etaj 6, înregistrată la Registrul Comerțului sub nr. J40/6905/2010, CUI1097530.</p>

                <p>Prin intermediul DENTSU ROMÂNIA S.R.L., (“Agenția 1”), cu sediul în Str. George Enescu nr. 11-11A, etaj 5,
                    camera 3, Sector 1, București, înregistrată la Registrul Comerțului sub nr. J40/20774/2008, C.U.I.
                    2486616.</p>
                <p>Și prin intermediul Mediapost Hit Mail S.A. (“Agenția 2”), cu sediul în Str. Siriului, nr. 42-46, etaj 3,
                    Sector 1, București, înregistrată la Registrul Comerțului sub nr. J40/8295/2000, C.U.I. RO13351917.</p>
                <p>Datele de contact ale Operatorului pentru nelămuriri sau exercitarea drepturilor de către persoanele vizate
                    cu privire la datele cu caracter personal sunt următoarele: </p>
                <p>Mondelez Romania S.A., adresa: Bucuresti, Sector 2, B-dul. Dimitrie Pompeiu nr. 5-7, Hermes Business Campus,
                    Cladirea C, Sectiunea Nord, etaj 6, email: <a href="mailto:MDLZDataProtectionOfficeMEU@mdlz.com">MDLZDataProtectionOfficeMEU@mdlz.com</a>
                </p>

                <p><strong>2. Categorii de date cu caracter personal prelucrate in cadrul Campaniei</strong></p>

                <p>În cadrul Campaniei, Operatorul va prelucra următoarele categorii de date cu caracter personal:</p>
                <ul>
                    <li>Pentru participanți:
                        <ul>
                            <li>(i) număr de telefon</li>
                        </ul>
                    </li>
                    <li>
                        Pentru câștigători:
                        <ul>
                            <li>(i) nume, prenume,</li>
                            <li>(ii) număr de telefon,</li>
                            <li>(i) nume, prenume,</li>
                            <li>(iii) data nașterii,</li>
                            <li>(iv) adresa de email,</li>
                            <li>(v) CNP (doar pentru câștigătorii premiilor cu valoare unitară mai mare de 600 Lei),</li>
                            <li>(vi) voce,</li>
                            <li>(vii) semnătura pe procesul verbal de predare-primire.</li>
                        </ul>
                    </li>
                </ul>
                <p>Prin înscrierea și participarea la Campanie, persoana care este desemnată și validată ca și câștigător al
                    unui premiu a cărui valoare depășește 600 Lei, are la cunoștință faptul că trebuie să prezinte
                    Organizatorului/Agențiilor implicate numele și prenumele întocmai cum apar în actul de identitate, precum și
                    CNP-ul, pentru ca Organizatorul să poată respecta obligațiile fiscale impuse de Codul Fiscal, respectiv
                    calcularea, reținerea și plata impozitului pe venit din premiul câștigat. Copia actului de identitate (care
                    conține nume, prenume și CNP) va fi folosită exclusiv în vederea îndeplinirii obligațiilor prevăzute de
                    Codul Fiscal. Refuzul persoanei de a furniza aceste date poate atrage imposibilitatea de a îndeplini
                    obligațiile fiscale care revin Organizatorului și de a acorda premiul.</p>

                <p><strong>3. Scopurile prelucrării</strong></p>
                <p>Datele cu caracter personal ale participanților la Campanie vor fi prelucrate în vederea:</p>
                <ul class="list-style-disc">
                    <li>înscrierii, organizării și desfășurării Campaniei;</li>
                    <li>desemnării, validării și anunțării câștigătorilor;</li>
                    <li>atribuirii premiilor câștigătorilor;</li>
                    <li>îndeplinirii unor obligații legale, cum ar fi, dar fără a se limita la: obligații financiar-contabile
                        ale Operatorului (inclusiv cele referitoare la impozitul pentru premiile acordate), obligații în scop de
                        arhivare, securitate;
                    </li>
                    <li>soluționării oricăror plângeri legate de modalitatea de organizare și desfășurare a Campaniei,
                        investigării eventualelor încălcări, realizării unor raportări specifice, analize, apărării dreptului
                        Organizatorului în instanță și/sau alte proceduri judiciare sau administrative,
                    </li>
                    <li>utilizării ca mijloace de probă în eventualele contestații în legătură cu procesul de validare a
                        câștigătorilor și de înmânare a premiilor, în ceea ce privește înregistrarea convorbirilor telefonice
                        care conțin date personale ale participanților la Campanie.
                    </li>
                </ul>
                <p><strong>4.Temeiurile juridice ale prelucrării</strong></p>
                <ul class="list-style-disc">
                    <li><strong>datele furnizate de participanți și câștigători</strong> sunt prelucrate în temeiul executării
                        unui
                        contract. Concret, acceptarea termenilor și condițiilor Regulamentului și participarea la Campanie
                        echivalează cu executarea unui contract;
                    </li>
                    <li><strong>datele furnizate de participanți și câștigători</strong> vor fi prelucrate și în temeiul
                        interesului legitim al Operatorului, precum:
                        exercitarea,
                        apărarea drepturilor sau intereselor Operatorului și societăților implicate în Campanie înaintea
                        instanțelor de judecată, a executorilor judecătorești, a notarilor publici, a altor autorități publice
                        sau oricăror organisme publice sau private care soluționează dispute, avocaților etc.;
                    </li>
                    <li><strong>CNP-ul furnizat de câștigători</strong> este prelucrat în vederea efectuării formalităților
                        necesare pentru reținerea la sursă și plata impozitelor aferente premiului cu valoare mai mare de 600
                        Lei. În acest caz, temeiul prelucrării este reprezentat de obligația legală a Organizatorului de
                        îndeplinire a obligațiilor fiscale;
                    </li>
                    <li><strong>publicarea listei câștigătorilor premiilor</strong> de către Organizator, este efectuată în
                        temeiul obligației legale a Organizatorului de a publica astfel de liste, potrivit legislației privind
                        organizarea de promoții și concursuri;
                    </li>
                    <li><strong>păstrarea datelor </strong> ulterior încheierii Campaniei și înmânarea
                        premiilor câștigătorilor reprezintă o prelucrare în temeiul interesului legitim al Operatorului, pentru
                        a dovedi desfășurarea Campaniei și acordarea premiilor, precum și în temeiul obligațiilor legale
                        aferente legislației financiar-contabile ce impune păstrarea documentelor contabile pentru o anumită
                        perioadă;
                    </li>
                    <li><strong>înregistrarea și stocarea convorbirilor telefonice</strong> care conțin date personale ale
                        participanților la Campanie se vor realiza în temeiul interesului legitim al Operatorului constând în
                        dreptul de a preconstitui eventuale dovezi privind modul de comunicare cu participanții pentru procesul
                        de validare și înmânare a premiilor.
                    </li>
                </ul>

                <p><strong>5. Destinatarii datelor cu caracter personal</strong></p>
                <p>Datele cu caracter personal vor fi dezvaluite catre DENTSU ROMANIA S.R.L., MEDIAPOST HIT MAIL S.A. , precum
                    si autoritatilor, in cazurile in care Operatorul trebuie sa respecte obligatiile impuse de legislatia in
                    vigoare.</p>
                <p>Datele cu caracter personal vor mai putea fi dezvaluite, in masura in care va fi necesar, urmatoarelor
                    categorii de terti:</p>
                <ul class="list-style-disc">
                    <li>societati care furnizeaza produse si servicii companiilor implicate in Campanie, in legatura cu
                        organizarea si desfasurarea Campaniei, precum: furnizori de sisteme IT, furnizori de asistenta aferenti
                        si furnizori de sisteme de stocare in sistem cloud (pentru realizare copii de urgenta, stocare
                        suplimentara, recuperare in caz de dezastru etc.);
                    </li>
                    <li>entitati implicate in diferite stagii sau situatii ale Campaniei si pentru care este necesara furnizarea
                        acestor informatii, ca de exemplu: avocati, notari, experti externi, auditori, contabili etc.;
                    </li>
                    <li>companiile de curierat si curierii implicati in livrarea premiilor catre Castigatori.
                        Tertii carora le sunt transmise sau puse la dispozitiile datele personale ale Participantilor si
                        Castigatorilor, conform celor prevazute mai sus, sunt limitati, atat prin lege cat si prin contract, in
                        ceea ce priveste modul de utilizare a datelor.
                    </li>
                </ul>
                <p>De asemenea, datele cu caracter personal colectate vor putea fi dezvaluite si publicului, in cazul anuntarii
                    Castigatorilor, în condițiile menționate în Regulament și cu respectarea legislației în vigoare.</p>

                <p><strong>6. Perioada de stocare a datelor cu caracter personal</strong></p>
                <p>Operatorul și Împuterniciții vor lua toate măsurile necesare pentru a se asigura că datele cu caracter
                    personal sunt prelucrate numai pe perioada necesară pentru scopurile stabilite în Regulament.</p>
                <p><strong>Datele cu caracter personal ale Participantilor declarati necastigatori</strong> vor fi stocate timp
                    de maxim 60 de
                    zile de la incheierea Campaniei.</p>
                <p><strong>Datele cu caracter personal ale castigatorilor premiilor cu valoare mai mica de 600 lei </strong> vor
                    fi stocate atat cat este necesar pentru indeplinirea scopurilor pentru care au fost
                    colectate, cu respectarea procedurilor interne privind retentia datelor, inclusiv a regulilor de arhivare
                    aplicabile, dar nu mai mult de 3 ani de la data colectarii acestora.</p>
                <p><strong>Datele cu caracter personal ale castigatorilor premiilor cu valoare mai mare de 600 lei</strong> vor
                    fi stocate conform prevederilor legale aplicabile in materie financiar-contabila.</p>
                <p>Convorbirile telefonice care contin date personale ale participantilor la Campanie vor fi stocate atat cat
                    este necesar pentru indeplinirea scopurilor pentru care au fost colectate, cu respectarea procedurilor
                    interne privind retentia datelor, dar nu mai mult de 3 ani de la data colectarii acestora.</p>
                <p>La expirarea perioadei de stocare a datelor cu caracter personal, Operatorul va sterge/distruge aceste date
                    de pe mijloacele de prelucrare si stocare, impunand Imputernicitului/ Imputernicitilor obligatii
                    similare.</p>

                <p><strong>7. Drepturile persoanelor vizate</strong></p>
                <p>Operatorul informează persoana vizată cu privire la drepturile de care aceasta beneficiază, conform
                    prevederilor legale aplicabile:</p>
                <ul>
                    <li>(i) <strong>dreptul la informare:</strong> persoana vizată poate solicita informații și detalii cu
                        privire la prelucrarea
                        datelor cu caracter personal;
                    </li>
                    <li>(ii) <strong>dreptul de retragere a consimțământului:</strong> se poate exercita, în orice moment, în
                        cazurile în care
                        prelucrarea se întemeiază pe consimțământul persoanei vizate. Retragerea consimțământului va avea efect
                        doar pentru viitor, iar prelucrarea realizată anterior retragerii va rămâne valabilă;
                    </li>
                    <li>(iii) <strong>dreptul de a solicita accesul</strong> la datele cu caracter personal: orice persoană
                        vizată are dreptul de
                        a obține de la Operator confirmarea faptului că datele care o privesc sunt sau nu prelucrate de către
                        acesta. Obținerea confirmării se face pe baza unei cereri scrise, datată și semnată, adresată
                        Operatorului, la adresa acestuia.
                    </li>
                    <li>În cazul în care datele personale ale persoanei vizate sunt prelucrate de către Operator, persoana
                        vizată are
                        acces la următoarele informații:
                        <ul>
                            <li>- scopurile prelucrării,</li>
                            <li>- categoriile de date cu caracter personal vizate,</li>
                            <li>- destinatarii sau categoriile de destinatari cărora datele cu caracter personal le-au fost sau
                                urmează
                                să le fie divulgate,
                            </li>
                            <li>- perioada pentru care se preconizează că vor fi stocate datele cu caracter personal sau, dacă
                                acest
                                lucru nu este posibil, criteriile utilizate pentru a stabili această perioadă, acolo unde este
                                posibil,
                            </li>
                            <li>- faptul că persoana vizată are dreptul de a solicita Operatorului rectificarea sau ștergerea
                                ori
                                restricționarea prelucrării datelor cu caracter personal ale persoanei vizate, precum și dreptul
                                de a se
                                opune prelucrării,
                            </li>
                            <li>- dreptul de a depune o plângere la Autoritatea Națională de Supraveghere a Prelucrării Datelor
                                cu
                                Caracter Personal (ANSPDCP),
                            </li>
                            <li>- în cazul în care datele cu caracter personal nu sunt colectate de la persoana vizată, orice
                                informații
                                disponibile privind sursa acestora,
                            </li>
                            <li>- existența unui proces decizional automatizat incluzând crearea de profiluri (art. 22 alin. (1)
                                și (4)
                                din GDPR), precum și, în cazurile respective, informații pertinente privind logica utilizată,
                                importanța
                                și consecințele preconizate ale unei astfel de prelucrări pentru persoana vizată.
                            </li>
                        </ul>
                    </li>
                    <li>(iv) <strong>dreptul de a solicita rectificarea</strong> datelor cu caracter personal: în cazul în care
                        persoana vizată consideră că datele personale prelucrate sunt incorecte, incomplete sau inexacte, va
                        putea solicita rectificarea sau completarea acestora;
                    </li>
                    <li>(v) <strong>dreptul de a solicita ștergerea</strong> datelor cu caracter personal (”dreptul de a fi
                        uitat”): persoana vizată poate obține ștergerea datelor, în cazul în care prelucrarea acestora nu a fost
                        legală sau în alte cazuri prevăzute de lege.
                    </li>
                    <li>Ștergerea datelor poate va avea loc în oricare dintre umătoarele situații:
                        <ul>
                            <li>- nu mai este nevoie de datele personale pentru îndeplinirea vreunuia dintre scopurile pentru
                                care au fost prelucrate anterior,
                            </li>
                            <li>- persoana vizată își retrage consimțământul pe baza căruia i-au fost prelucrate anterior datele
                                și nu există alt temei juridic pentru o prelucrare viitoare,
                            </li>
                            <li>- datele personale sunt prelucrate contrar legii,</li>
                            <li>- persoana vizată se opune prelucrării datelor bazat pe interesul legitim al
                                Operatorului/Agențiilor sau altor societăți implicate, iar acesta/acestea nu pot demonstra
                                existența unor motive legitime care să justifice prelucrarea și care să prevaleze intereselor,
                                drepturilor și libertăților persoanei vizate,
                            </li>
                            <li>- datele personale trebuie șterse pentru conformarea obligațiilor legale.</li>
                        </ul>
                    </li>
                    <li>Operatorul poate respinge solicitarea de ștergere a datelor în următoarele situații:
                        <ul>
                            <li>- trebuie să se conformeze unor obligații legale de păstrare a datelor,</li>
                            <li>- datele sunt necesare pentru constatarea, exercitarea sau apărarea drepturilor Operatorului în
                                justiție.
                            </li>
                        </ul>
                    </li>
                    <li>(vi) <strong>dreptul la restricționarea prelucrării</strong> se poate solicita în cazurile în care:
                        <ul>
                            <li>- persoana vizată contestă exactitatea datelor pe o perioadă care permite Operatorului
                                verificarea corectitudinii datelor,
                            </li>
                            <li>- prelucrarea este ilegală, dar persoana vizată se opune ștergerii datelor cu caracter personal,
                                solicitând în schimb restricționarea,
                            </li>
                            <li>- Operatorul nu mai are nevoie de datele cu caracter personal în scopul prelucrării, iar
                                persoana vizată le solicită pentru constatarea, exercitarea sau apărarea unui drept în
                                instanță,/li>
                            <li>- persoana vizată s-a opus prelucrării, pentru intervalul de timp în care se verifică dacă
                                drepturile Operatorului/Agențiilor prevalează asupra drepturilor persoanei vizate.
                            </li>
                        </ul>
                    </li>
                    <li>(vii) <strong>dreptul de opoziție:</strong> persoana vizată se poate opune în special, prelucrării
                        datelor care se întemeiază pe interesul legitim al Operatorului;
                    </li>
                    <li>(viii) <strong>dreptul la portabilitate a datelor:</strong> persoana vizată poate primi, în anumite
                        condiții, datele personale pe care le-a furnizat sau poate solicita ca respectivele date să fie
                        transmise altui operator;
                    </li>
                    <li>(ix) <strong>dreptul de a depune o plângere</strong> în fața Autorității Naționale de Supraveghere a
                        Prelucrării Datelor cu Caracter Personal (ANSPDCP) cu sediul în București, Sector 1, B-dul. G-ral.
                        Gheorghe Magheru nr. 28-30, cod poștal 010336, <a href="https://www.dataprotection.ro" target="_blank">www.dataprotection.ro</a>,
                        <a href="mailto:anspdcp@dataprotection.ro">anspdcp@dataprotection.ro</a>.
                    </li>
                </ul>
                <p>Drepturile menționate mai sus se pot exercita printr-o cerere scrisă, datată și semnată, la sediul
                    Operatorului menționat la capitolul I, precum și la adresa de email
                    <a href="mailto:MDLZDataProtectionOfficeMEU@mdlz.com">MDLZDataProtectionOfficeMEU@mdlz.com</a>.</p>
                <p>Termenul de răspuns este de 30 de zile, termen ce poate fi prelungit cu o perioadă suplimentară de 60 de zile
                    în cazul unor motive specifice ce implică anumite cerințe legale sau care sunt date de complexitatea
                    cererii.</p>
                <p>În anumite cazuri, accesul la toate sau la o parte a datelor personale poate fi restricționat din cauza unor
                    cerințe legale, această situație (de acces restricționat sau chiar refuz) urmând a fi comunicată.</p>
                <p>În situația în care o persoană nu poate fi identificată în baza elementelor de identificare furnizare, i se
                    vor solicita informații suplimentare. Dacă persoana refuză oferirea de informații suplimentare sau le oferă
                    însă sunt în continuare insuficiente pentru identificare, răspunsul poate fi de a nu da curs solicitării
                    persoanei în cauză.</p>
                <p><strong>8. Protectia datelor cu caracter personal aparținând minorilor</strong></p>
                <p>Întrucât la Campanie pot participa exclusiv persoanele fizice cu vârsta de minim 18 ani la data începerii
                    Campaniei, nu vor fi prelucrate date aparținând persoanelor cu vârsta mai mică de 18 ani. În situația în
                    care Operatorul/ un Împuternicit primește date cu caracter personal aparținând persoanelor cu vârsta mai
                    mică de 18 ani, aceste date vor fi imediat șterse/ distruse de pe mijlocele de prelucrare și stocare ale
                    Operatorului/ Împuternicitului. În cazul în care un părinte sau un titular al autorității părintești
                    notifica prelucrarea unor date cu caracter personal aparținând unor persoane cu vârsta mai mică de 18 ani,
                    Operatorul va șterge/ distruge imediat aceste date de pe mijlocele de prelucrare și stocare. </p>
                <p><strong>9. Securitatea datelor cu caracter personal</strong></p>
                <p>Operatorul se obligă să implementeze măsuri tehnice și organizatorice adecvate în vederea asigurării unui
                    nivel de securitate corespunzător datelor cu caracter personal aparținând participanților la Campanie.
                    Operatorul se obligă să impună Împuternicitului obligații similare. La evaluarea nivelului adecvat de
                    securitate se va ține seama în special de riscurile prezentate de prelucrarea datelor cu caracter personal,
                    generate în special, în mod accidental sau ilegal, de distrugerea, pierderea, modificarea, divulgarea
                    neautorizată sau accesul neautorizat la datele cu caracter personal transmise, stocate sau prelucrate.</p>
                <p><strong>10. Modificarea informării privind prelucrarea datelor cu caracter personal</strong></p>
                <p>Operatorul are dreptul de a modifica prezenta Anexa la Regulament oricând pe durata desfășurării Campaniei,
                    numai în cazul în care se descoperă măsuri mai eficiente pentru protejarea și securizarea datelor cu
                    caracter personal ale persoanelor vizate și fără a afecta drepturile și libertățile persoanelor vizate.
                    Orice astfel de modificare va fi publicată pe site-ul Operatorului și/ sau al Campaniei, respectiv va fi
                    adusă la cunoștința Participanților prin aceleași mijloace prin care au fost încunoștințate cu privire la
                    Regulament. </p>
                <p><strong>11. Alte prevederi </strong></p>
                <p>În măsura în care în cadrul campaniei, Participanții dezvăluie date cu caracter personal aparținând unor
                    terțe persoane, participanții confirmă că au informat aceste persoane cu privire la modul în care datele lor
                    cu caracter personal vor fi prelucrate și faptul că aceste date sunt folosite în scopul desfășurării
                    Campaniei și că au obținut acordul persoanelor respective pentru această operațiune. În acest sens,
                    Participanții au obligația de a informa aceste persoane cu privire la conținutul prezenței secțiuni. Datele
                    personale ale participanților la Campanie vor fi prelucrate în conformitate cu legislația aplicabilă în
                    domeniul protecției datelor cu caracter personal, în mod particular în conformitate cu prevederile
                    Regulamentului nr. 679/2016 privind protecția persoanelor fizice în ceea ce privește prelucrarea datelor cu
                    caracter personal și privind libera circulație a acestor date.</p>
            </div>
        </div>

        <!-- end:: Intro -->

        <!-- start::  -->

        <!-- end::  -->
    </main>

    {% include 'reusable_templates/footer.html.twig' %}
{% endblock %}