{% extends 'layout.html.twig' %}

{% block title %}Oreo of the Day | Castigatori{% endblock %}

{% block body %}
    {% include 'reusable_templates/header.html.twig' %}

    <main class="castigatori">
        <!-- start:: Intro -->
        <div class="page-splash content">
            <div class="inner">
                <h2>Câștigători</h2>
                <div class="content__body  d-none">
                    <h3>Curând, vei putea vedea aici câștigătorii campaniei!</h3>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn--primary open-form">Înscrie-te</a>
                    </div>
                </div>
                <div class="content__body ">
                    <h3>Află dacă te numeri printre câștigătorii campaniei OREO Outfit of the Day!</h3>
                    <div class="list custom-scrollbar">
                        <div class="list__item"><span>Anton Andreea</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nițu Gheorghe Marius</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Poraicu Andrei</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Caragea Andrei</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nițu Irina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Cojocaru Mircea</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nedeluș Alexandru Constantin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Sterie Mihaela</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nistor Theodora</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Savu Costel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Butoi Marcel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dumitrașcu Marinela Elena</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Negrilă Roberto Eduard Ionuț</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Rusu Nicoleta</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stere Roza</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Vasile Ionuț</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Anton Irina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Radu Alexandra</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Rațiu Daniel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ștefan Maria</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Boariu Daniel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Grecu Vasilica</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stoian Răducu</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Tatu Elena</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Spumă Laurențiu</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Vieru Alina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Manole Gabriel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Mugur Cristian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Goșea Ion</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Cojocaru Raluca</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Bălan Andrei</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Aldea Constantin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Voiculescu Vasilica</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Rotaru Angelica</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Matei Adrian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ungureanu Daniel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dinu George</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Rosianu Ovidiu</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Bucur Ionuț</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Bondăreț Alexandru</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nicolae Cristina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Milea Nicoleta</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ivașcu Cosmin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dionise Oana Simona</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stoian Violeta</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Rizea Florian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ludosi Zoltan</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Lazar Stefan</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ungureanu Constantin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Conu Maria</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Vlăsceanu Maria Diana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Tudor Lidia</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Bucur Stelian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ivănescu Ionela</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Duminicescu Mădălina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Lazar Mihai</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stoica Ștefan</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Voiculescu Corneliu</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Cotruț Grațiela</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Moldovan Daniel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Luță Roxana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ciortea Neamțiu Petre Cristian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Avram Eugenia</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nițu Daniel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ifrim Daniela</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ceaușu Maria</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Cotruț Mihaela</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Toader Ionuț</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Pascu Adriana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Niță Cosmin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dobre Marian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stan Dragoș</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Neagu Maria</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Savu Cătălin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Molnar Florica</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dorobanțu Nicolae</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Pirlogeanu Marian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Kadar Gizella</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dumbrava Laurentiu Costel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Fodor Romolus</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ionița Ștefan Tiberiu</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Roșu Alina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Bogoi Alexandru</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ilie Maria</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stamu Elena</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Viktor Iosif</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Manole Oana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Nica Radu</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Oprea Angi</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Cârlea Elena</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Hurlui Iosif</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Tulbure Cristiana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Barac Adrian Ionut</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Harja Ionel Catalin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Paraschiv Elena</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Betea Ioan</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Oțel Andrea</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Gheorghe Călin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Stroe Ionel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ivanescu Nicolae Vasile</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dumitrescu Dragoș Mihai</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ciupercă Nicoleta</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Pisaltu Gabriela</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Sîmpetru Angel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ghinda Tatiana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Oprea Dorina Georgeta</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Dragomirescu Cristian</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Ciuciuc Eveline Andrada</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Mihăila Cornelia</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Radu Andreea</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Lupu Florin</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Necula Denisa</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Brăcaci Cristina</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Patentasu Alexandru Mihai</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Rotaru Daniel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Păun Andreea</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Croitoru Aurel</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Oprea Adriana</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Bogoi Gheorghe</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Grosu David Nicolas</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Florea Gabriel Mihai</span><span>Voucher Fashion Days</span></div>
                        <div class="list__item"><span>Badea Ana Cristina</span><span>Voucher Fashion Days</span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end:: Intro -->

        <!-- start::  -->

        <!-- end::  -->
    </main>

    {% include 'reusable_templates/footer.html.twig' %}
{% endblock %}
